{% extends 'base.html' %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
        <h1>
            Video List
        </h1>
        <form action="/ImageEditor/videoList/" method="post">
            {% csrf_token %}
            <div>
                새 비디오 업데이트
                <input type="submit" class="btn btn-primary" value="Update!!">
            </div>
        </form>

        {% if videoList %}
        <table style="text-align:center;  border:1px solid black;  margin-left: auto; margin-right: auto;">
            <thead>
               <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>경로</th>
                    <th>코너구분</th>
                </tr>
            </thead>
            {% for video in videoList %}
            <tbody>
                <tr>
                    <td>{{ video.id }}</td>
                    <td><a href="/ImageEditor/selectVideo/{{video.id}}">{{ video.title }}<a/></td>
                    <td>{{ video.path }}</td>
                    <td>{{ video.conner }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}